<div class="container">
  <div class="bg-info text-white p-5 my-3">
    <div id="<%= dom_id friend %>">
  <p>
    <%= friend.first_name %> <%= friend.last_name %>
  </p>


  <p>
    <%= friend.email %>s
  </p>

  <p>
    <%= friend.phone %>
  </p>

  <p>
    <%= friend.facebook %>
  </p>

</div>
  </div>
</div>


